.LargeScreen a.active {
  font-weight: bold;
  padding: 6px 20px;
  
  border: 1px solid white;
  
}

.mobileMenu a.active {
  font-weight: bold;
  padding: 6px;
  color: white;
  background-color: black;
}
